@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
:root{
    --primary-white:#fff;
    --primary-black:#333;
    --primary-red:#fa1d1d;
    --primary-blue:#1a1aec;
    --primary-yellow:#ffff00;

    --dark-black:#000;
    --dark-yellow:#f3bc00;

    --secondary-black:#2f2f2f;
    --secondary-white: #f5f5f5;

    --our-story-font:'Edu VIC WA NT Beginner';
}
::selection{
    color: var(--primary-red);
    background-color: var(--primary-white);
}

body{margin:0;padding:0;box-sizing: border-box;}
h3{text-align: center;}
a{text-decoration: none;color: #8f8f8f;}
a:hover{color: var(--primary-white);text-decoration: underline;}
.html{color: #e34f26;}
.css{color: #1572b6;}
.js{color: #f7df1e;}
.bootstrap{ color: #7411f6;}

/* -------- NAVBAR -------- */
.topnav {
    border-top: 1px solid var(--primary-white);
    width: 100%;
    overflow: hidden;
    background-color: #4f4f4f;
    position: sticky;
    top: 0;
    z-index: 9;
}
.topnav a {
    float: left;
    display: block;
    color: var(--primary-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #6f6f6f;
    color: var(--primary-white);
}
.topnav a.active {
    background-color: var(--primary-black);
}
.topnav .icon {
    display: none;
}
.topnav strong{
    padding-right: 8px;
}
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 700px) {
    .topnav.responsive {justify-content: space-between;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav .icon{
        display: block;
    }
}

/* --------  DROPPING OBJECTS ANIMATION -------- */
.DropObject{
    color: var(--primary-yellow);
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px var(--dark-black);
}
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}
.DropObject{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}
.DropObject:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.DropObject:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.DropObject:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.DropObject:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.DropObject:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.DropObject:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.DropObject:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.DropObject:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.DropObject:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.DropObject:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

/* -------- NEWS CONTAINER -------- */
.latest_news_container{
    overflow: hidden;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--primary-blue);
}
.news_text{
    position: absolute;
    z-index: 2;
    top: -1px;
    left: 0;
    margin: 0;
    font-size: 20px;
    color: var(--primary-white);
    background-color: var(--primary-red);
    padding: 8px 20px;
}
.news_text::after{
    content: "";
    width: 39px;
    height: 39px;
    transform: rotateZ(45deg);
    position: absolute;
    top: -1px;
    left: 87px;
    background-color: var(--primary-red);
}
.latest_news_container marquee{
    z-index: 1;
    margin: 0;
    width: 100%;
    color: var(--primary-white);
    padding: 10px 20px;
    font-family: monospace;
    text-transform: uppercase;
    background-color: var(--primary-blue);
}

/* -------- Footer -------- */
.footer{
    background-color: var(--secondary-black);
    margin-top: 50px;
    color: var(--primary-white);
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    border-top: 1px solid var(--primary-white);
}
.footer2{
    background-color: var(--secondary-black);
    color: var(--primary-white);
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid var(--primary-white);
}
@media screen and (max-width:1100px) {
    .footer{font-size: 14px;}
}

/* -------- FAQ Section -------- */
.FAQMain{
    border: none;
    background-color: var(--secondary-black);
    color: #8f8f8f;
}
.FAQMain:hover{
    color: var(--primary-white);
    text-decoration: underline;
}
#FAQs_container{
    background-color: var(--primary-white);
    min-height: 100vh;
}
#FAQs_container .navbar{
    position: sticky;
    top: 0;
    background-color: var(--secondary-black);
    display: flex;
    justify-content: center;
    padding: 10px;
}
.panel,.flip{
    padding:5px;
    text-align:center;
    background-color:#e5eecc;
    border:solid 1px #c3c3c3;
}
.panel{
    padding:50px;
    display:none;
}

/* -------- Dark Mode -------- 
.darkmode{
    background-color: var(--primary-black);
    color: var(--primary-white);
}
#Darkmode_btn{
    padding: 10px 21px 10px 21px;
    background-color: darkcyan;
    color: var(--primary-white);
    border: none;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}*/


/* -------- INDEX.HTML -------- */
/* -------- Trending Section -------- */
.trending_container{
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 40px auto;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px var(--dark-black);
}
.trending_container h1{
    text-align: center;
}
.trending_container div{
    width: 80%;
    background-color: var(--primary-black);
    margin: 20px auto;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0 0 10px var(--dark-black);
}
.trending_container div h1{
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    color: var(--primary-white);
}
.trending_container div p{
    padding: 10px;
    color: var(--primary-white);
}
.trending_container div a{
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: fit-content;
    background-color: green;
    color: var(--primary-white);
}



/* -------- DISCUSSIONS.HTML -------- */
.post h1{
    text-align: center;
    color: var(--dark-yellow);
}
.post{
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-black);
    position: relative;
}
.post .RAI{position: absolute;
    right: 7px;
    bottom: 7px;
    font-size:15px;
    color: red;
}
.content_div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content_div img{
    margin: auto;
    width: 150px;
    border-radius: 20px;
}
.content_div p{
    color: var(--primary-white);
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}
.content_div p span{
    text-decoration: underline;
    font-weight: bold;
}
.content_div ul li{
    font-size: 20px;
    color: var(--primary-white);
    list-style: square;
}

@media (max-width:700px){
    .content_div{
        flex-direction: column;
        justify-content: center;
    }
    .content_div img{
        margin: auto;
    }
}



/* -------- ABOUT.HTML -------- */
/* Table Section */
table{
    box-shadow: 0 4px 8px 0 var(--dark-black);
}
table, th, td {
    align-items: center;
    margin: 30px auto;
    border:1px solid var(--dark-black);
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
}
tr:nth-child(odd){
    background-color: var(--primary-black);
    color: var(--primary-white);
}
tr:nth-child(even){
    background-color: #f9f9f9;
    color: var(--primary-black);
}

/* Our Story Section */
.our_story{
    width: 70%;
    padding: 10px;
    margin: 70px auto;
    border-radius: 20px;
    color: var(--primary-white);
    background-color: var(--primary-black);
    font-family: var(--our-story-font);
    font-size: 19px;
    font-weight: 400;
    box-shadow: 0 4px 8px 0 var(--dark-black);
}
.our_story h1{
    text-align: center;
}
.our_story p{
    margin: 0;
}
.our_story p[rel="first_line"]{
    padding-left: 30px;
}
.our_story div{
    display: flex;
}
.our_story div img{
    width: 200px;
    height: 200px;
}
@media (max-width:818px){
    .our_story div{
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Our Story Section */
.our_mission{
    width: 70%;
    padding: 10px;
    padding-bottom: 40px;
    margin: 70px auto;
    border-radius: 20px;
    color: var(--primary-white);
    background-color: var(--primary-black);
    font-family: var(--our-story-font);
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 4px 8px 0 var(--dark-black);
}
.our_mission p span{
    color: var(--dark-yellow);
    font-size: 22px;
    font-weight: 600;
}
.our_mission hr{
    width: 60%;
    margin: auto;
}
@media (max-width:700px){
    .our_mission hr{
        width: 80%;
    }
    .our_mission span{
        display: block;
    }
}

/* Meet The Team Section */
.meet_the_team{
    width: 100%;
    align-items: center;
    margin-top: 170px;
    min-height: 100vh;
}
.meet_the_team h1{
    padding: 10px;
    color: var(--primary-black);
    background-color: var(--primary-white);
    text-align: center;
    margin-bottom: 40px;
}
.meet_the_team .cards_container{
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
}
.meet_the_team .cards_container .card{
    text-align: center;
    width: 270px;
    color: var(--primary-white);
    background-color: var(--primary-black);
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 var(--dark-black);
}
.meet_the_team .cards_container .card img{
    margin-top: 10px;
    width: 200px;
    height: 200px;
}
.meet_the_team .cards_container .card h2{
    text-align: center;
}
.meet_the_team .cards_container .card .role{
    color: gray;
    padding: 10px;
}
.meet_the_team .cards_container .card .intro{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.meet_the_team .cards_container .card .intro text{
    position: relative;
    text-decoration: underline;
    cursor: pointer;
}
.meet_the_team .cards_container .card .intro text .US_flag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    z-index: 1;
    width: 30px;
    height: 15px;
    border-radius: 0px;
}
text:hover .US_flag,.meet_the_team .cards_container .card .intro text:hover .US_flag{
    top: 1px;
    left: 1px;
    transform: translate(0%,0%);
    width: 300px;
    height: 150px;
    visibility: visible;
}
.meet_the_team .cards_container .card .intro text .us_blue{color: #002868;font-weight: 800;background-color: var(--primary-white);text-decoration: underline;}
.meet_the_team .cards_container .card .intro text .us_red{color: #BF0A30;font-weight: 800;background-color: var(--primary-white);text-decoration: underline;}
@media (max-width:700px){
    .meet_the_team .cards_container{
        flex-direction: column;
    }
    .meet_the_team .cards_container .card{
        margin: 20px auto;
    }
    text:hover .US_flag,.meet_the_team .cards_container .card .intro text:hover .US_flag{
        overflow: hidden;
        width: 200px;
        height: 100px;
    }
}

/* Contact us Section */
.contact_us{
    color: var(--primary-white);
    align-items: center;
    margin-top: 150px;
}
.contact_us h1{
    padding: 10px;
    color: var(--primary-black);
    background-color: var(--secondary-white);
    text-align: center;
    margin-bottom: 60px;
}
.contact_us h2{
    color: #e4c046;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
}
.contact_us .container{
    width: 100%;
    padding-bottom:40px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_us .container form{
    background-color: var(--primary-black);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--dark-black);
}
.contact_us .container form input,.container form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: var(--secondary-white);
    font-size: 16px;
}
.contact_us .container form button{
    padding: 15px;
    background-color: #9e8637;
    font-size: 20px;
    color: var(--secondary-white);
    border: 0;
    outline: none;
    cursor: pointer;
}
.contact_us .container form button:hover{
    background-color: #e4c046;
}
