@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration: none;
}
section{
    min-height: 100vh;
}


/* -------- HEADER --------*/
header{
    position: sticky;
    top: 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    z-index: 100;
    opacity: 0.9;
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 1.8em;
    text-transform: uppercase;
}

header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
}
header #toggle::before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
}
header #toggle::after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
}
#toggle.active::before{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
#toggle.active::after{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* -------- NAVIGATION BAR --------*/
#navigation{
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: #40c3ff;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active{
    right: 0px;
}
#navigation ul{
    position: relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li{
    list-style: none;
}
#navigation ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
@media (max-width:600px){
    #navigation{
        width: 250px;
    }
}


/* -------- HOME --------*/
.Home{color: #fff;background-color: #000;background-image: url(https://github.com/CartimDraluc/Cartimpedia/blob/main/PortfolioTest/pixlr-bg-result.png?raw=true);background-repeat: no-repeat;padding: 50px 50px;}
@media (max-width:600px) {.Home{background-position: top;}}
.Home .content{max-width: 600px;}
.Home .content h2{color: #fff;font-size: 2.5em;}
.Home .content h2 span{color: #40c3ff;font-size: 1.2em;}
.Home .content p{font-size: 1.2em;color: #fff;font-weight: 300;}
.Home .content a{position: relative;display: inline-block;margin-top: 20px;background-color: #fff;color: #000;padding: 10px 30px;text-decoration: none;font-size: 1.2em;font-weight: 500;}


/* -------- ABOUT --------*/
.About{color: #fff;}
.About h1{color: goldenrod;padding-top: 70px;padding-bottom: 50px;font-size: 2.5em;font-weight: 600;text-align: center;}
.About .details{background-color: #2f6f6f;margin: auto;border: 1px solid #fff;width: 90%;margin-bottom: 20px;padding: 10px;}
.About .details span{color: #fff;font-weight: 600;}
.About .content{display: flex;justify-content: space-around;}
.About .content div{width: 45%;border: 1px solid #fff;background-color: #2f6f6f;padding: 20px 40px;}
.About .content h2{text-align: center;}
@media (max-width:870px){.About .content{display: block;padding-bottom: 20px;}.About .content div{width: 90%;margin-bottom: 20px;}.About .content .leftSide,.About .content .rightSide{margin: auto;margin-bottom: 20px;}}


/* -------- EXPERIENCE --------*/
.Experience{color: #fff;background-color: #0f110f;}
.Experience h1{color: #e4c046;padding-top: 70px;padding-bottom: 50px;font-size: 2.5em;font-weight: 600;text-align: center;}
.Experience .box_container{width: 80%;margin: auto;display: flex;justify-content: center;flex-wrap: wrap;}
.Experience .box_container .box{background-color: #212221;padding: 20px;margin: 20px;width: 220px;height: 100px;align-items: center;text-align: center;}
.Experience .box_container .box span{color: #e4c046;font-size: 1.8em;font-weight: 400;}


/* -------- Projects --------*/
.Projects h1{color: goldenrod;padding-top: 70px;padding-bottom: 50px;font-size: 2.5em;font-weight: 600;text-align: center;}
.Projects iframe{width: 100%;height: 80vh;border: 2px solid #e4c046;}


/* -------- Contact --------*/
.Contact{color: #fff;background-color: #0f110f;align-items: center;}
.Contact h1{color: #e4c046;padding-top: 70px;padding-bottom: 20px;font-size: 2.5em;font-weight: 600;text-align: center;}
.Contact .container{
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
.container form input,.container form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
}
.container form button{
    padding: 15px;
    background-color: #ff5361;
    color: 18px;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}


/* -------- Footer --------*/
footer{text-align: center;background-color: #2f6f6f;color: #fff;font-size: 1.5em;font-weight: 400;padding: 10px;}