::selection{
    background-color: #000;
    color: #f8f8ff;
}

footer div a{
    color: #808080;
    text-decoration: none;
}
footer div a:hover{
    color: #fff;
    text-decoration: underline;
}