::selection{
    background-color: #000;
    color: #f8f8ff;
}

footer div a{
    color: #808080;
    text-decoration: none;
}
footer div a:hover{
    color: #fff;
    text-decoration: underline;
}

.post-container h1{
    color: #daa520;
}
.post-container img{
    width: 450px;
}
.post-container a[href="../posts/reportIssues.html"]{
    color: #ff0000;
}

.meme-container img{
    height: 320px;
    width: 300px;
    border: 5px solid #000;
}

.about{
    background-color: #333;
}
.about section{
    font-family: 'Edu VIC WA NT Beginner', Courier;
}
.about section h1{
    color: #daa520;
    font-size: 35px;
    font-weight: bold;
}
.about section p{
    font-size: 20px;
    font-weight: 400;
}

/* Meet The Team Section */
.meet_the_team{
    width: 100%;
    align-items: center;
    margin-top: 170px;
    min-height: 100vh;
}
.meet_the_team h1{
    padding: 10px;
    color: #333;
    background-color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.meet_the_team .cards_container{
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
}
.meet_the_team .cards_container .card{
    text-align: center;
    width: 270px;
    color: #fff;
    background-color: #333;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 #000;
}
.meet_the_team .cards_container .card img{
    margin-top: 10px;
    width: 200px;
    height: 200px;
}
.meet_the_team .cards_container .card h2{
    text-align: center;
}
.meet_the_team .cards_container .card .role{
    color: gray;
    padding: 10px;
}
.meet_the_team .cards_container .card .intro{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

@media (max-width:700px){
    .meet_the_team .cards_container{
        flex-direction: column;
    }
    .meet_the_team .cards_container .card{
        margin: 20px auto;
    }
}

/* Contact us Section */
.contact_us{
    color: #fff;
    align-items: center;
    margin-top: 150px;
}
.contact_us h1{
    padding: 10px;
    color: #333;
    background-color: #f8f8ff;
    text-align: center;
    margin-bottom: 60px;
}
.contact_us h2{
    color: #e4c046;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
}
.contact_us .container{
    width: 100%;
    padding-bottom:40px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_us .container form{
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #000;
}
.contact_us .container form input,.container form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-size: 16px;
}
.contact_us .container form button{
    padding: 15px;
    background-color: #9e8637;
    font-size: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.contact_us .container form button:hover{
    background-color: #e4c046;
}