body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}
.Container{
    width: fit-content;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: 6px 6px 5px #000;
    border: 1px solid #000;
    text-align: center;
    max-width: 80%;
}
.container-fluid{
    width: 100vw;
    height: 100vh;
}
input{
    width: 300px;
}
@media (max-width:500px){
    input{
        width: 180px;
    }
}

.container a{
    text-decoration: none;
    color: #0dcaf0;
}
.container a:hover{
    color: #fff;
}